page-contact {
    .header-image {
        background-image: url(../assets/contact2.jpg);
        height: 30vh;
        background-size: cover;
        background-position: center center;
        position: relative;
        z-index: -1;
    }
    .main-content {
        margin-top: -20px;
        margin-left: 10px;
        margin-right: 10px;
        padding: 20px;
        background-color: white;
        -webkit-box-shadow: 0px 0px 55px -16px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 0px 0px 55px -16px rgba(0, 0, 0, 0.75);
        box-shadow: 0px 0px 55px -16px rgba(0, 0, 0, 0.75);
        // background: #F5F5F5;
        position: relative !important;
    }
    .circular {
        // z-index: 1 !important;
        // width: 100px;
        // height: 100px;
        // // position: inherit;
        // // z-index: 1;
        // border-radius: 50%;
        // -webkit-border-radius: 150px;
        // -moz-border-radius: 150px;
        // border: solid white;
        // background: url(../assets/kunal_passport_size_photo.jpg) no-repeat;
        // margin-top: -70px;
        // margin-left: auto;
        // margin-right: auto;
        // margin-bottom: 50px;
        width: 150px;
                height: 150px;
                border-radius: 50%;
                -webkit-border-radius: 150px;
                -moz-border-radius: 150px;
                border: solid white;
                background: url(../assets/kunal_passport_size_photo.jpg) no-repeat;
                display: block ;
                margin-left: auto;
                margin-right: auto;
                margin-bottom: 20px;
    }
    .list-ios>.item-block:first-child {
        border-top: none;
    }
    .list-ios>.item-block:last-child {
        border-bottom: none;
    }
    .sub-content {
        margin-top: 10px;
        margin-bottom: 20px;
        margin-left: 10px;
        margin-right: 10px;
        padding: 20px;
        background-color: white;
        -webkit-box-shadow: 0px 0px 55px -16px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 0px 0px 55px -16px rgba(0, 0, 0, 0.75);
        box-shadow: 0px 0px 55px -16px rgba(0, 0, 0, 0.75);
        // background: #F5F5F5;
        position: relative !important;
    }
}