<ion-header>

    <ion-navbar color="primary">
        <ion-title>Contact Information</ion-title>
    </ion-navbar>

</ion-header>



<ion-content parallax-header no-bounce class="bg-modal">
    <div class="header-image"></div>

    <div class="main-content" text-wrap text-center>
        <div class="circular"></div>
        <h2>Kunal Usulkar</h2>
        <hr>
        <!-- <p>Mohd Mazlan</p> -->
        <ion-list no-lines>
            <ion-item>
                <ion-icon name="mail" color="primary" item-start></ion-icon>
                <p>Email</p>
                usulkarkunal@gmail.com
                <a button ion-button color="primary" item-end medium (tap)="sendEmail()">Open App</a>
            </ion-item>
            <ion-item>
                <ion-icon item-start name="call" color="danger"></ion-icon>
                <p>Mobile</p>
                +97564499048
                <a button ion-button href="tel:+97564499048" color="danger" item-end medium>Poke me</a>
            </ion-item>
            <ion-item>
                <ion-icon item-start name="logo-whatsapp" color="secondary"></ion-icon>
                <p>Whatsapp</p>
                +918007610716
                <a button ion-button color="secondary" item-end medium href="whatsapp://send?text=Hi from ionic&phone=+918007610716&abid=+918007610716">Open App</a>
            </ion-item>

            <ion-item>
                <ion-icon item-start name="pin" color="twitter"></ion-icon>
                <p>Dubai</p>
            </ion-item>


        </ion-list>


    </div>
    <div class="sub-content">
        <h2>Get in touch</h2>
        <hr>
        <a href="https://www.linkedin.com/in/kunal-usulkar-1ba0a267/" button ion-button block color="linkedin" icon-start>
            <ion-icon name='logo-linkedin'></ion-icon>
            LinkedIn
        </a>
        <a href="https://www.facebook.com/kusulkar" button ion-button block color="fb" icon-start>
            <ion-icon name='logo-facebook'></ion-icon>
            Facebook
        </a>
        <a href="https://bitbucket.org/kusulkar/" button ion-button block color="linkedin" icon-start>
            <ion-icon name='logo-github'></ion-icon>
            Bit Bucket
        </a>



    </div>

</ion-content>