<ion-tabs color="primary">
    <ion-tab [root]="introRoot" tabTitle=" Intro " tabIcon="contact"></ion-tab>
    <!--<ion-tab [root]="youtubeRoot " tabTitle="Youtube " tabIcon="logo-youtube"></ion-tab> -->  
    <ion-tab [root]="workPageRoot " tabTitle="Work Exp" tabIcon="code-working"></ion-tab>
    <!-- <ion-tab [root]="instagramRoot " tabTitle="Instagram " tabIcon="logo-instagram"></ion-tab>
    <ion-tab [root]="githubRoot " tabTitle="Github " tabIcon="logo-github"></ion-tab> -->
    <ion-tab [root]=" contactRoot " tabTitle="Contact me " tabIcon="mail"></ion-tab>
</ion-tabs>