<ion-header>
    <ion-navbar color="primary">
        <ion-title align-center>
            Kunal Usulkar
        </ion-title>
        <!-- <ion-buttons end>
            <button ion-button icon-left color="royal" (click)="resetStorage()">
                <ion-icon name="refresh"></ion-icon>
             Reset Splash
              
            </button>
        </ion-buttons> -->

    </ion-navbar>
</ion-header>

<ion-content parallax-header class="bg-style">
    <div class="header-image">
        <div class="tab-header">
            <div class="circular"></div>
            <h2>{{info.fullname}}</h2> Phone No: {{info.phone}} <br>Email : {{info.email}} <br>{{info.location}}
        </div>
    </div>
    <!--header-->

    <div class="main-content">
        <!--1st card-->
        <ion-card class="overlap">

            <ion-card-content>
                <ion-card-header>
                    <ion-chip>
                        <ion-icon item-start name="contact"></ion-icon>
                        <ion-label>About Me</ion-label>
                    </ion-chip>

                </ion-card-header>

                <div class="bio">
                    <p class="p-home">
                        Full Stack Developer with 7 year of experience in Developing and Integrating Web Applications using Java / J2EE technologies, Javascript, HTML, Angular Js, Ext Js.
                    </p>
                </div>
                <br>
                <div class="bio">
                    <p class="p-home">
                        I focus to write code where rework is almost 0% with high performance bugs free application. I have worked on Java as server side technology and front end like JSP, Javascript, Jquery, HTML, CSS, Angular, Ext Js, Underscore framework, but
                        now I am trying to learn and working on small project on Ionic Framework as well.
                    </p>
                </div>
                <br>
                <div class="bio">
                    <p class="p-home">
                        Having very good experience on mySQL, Oracle and experience on Software Development Tool like Eclipse, Putty, WinSCP, Tomcat, HP QC (Bug Tracker), Project Professional. Strong Communications skills, outstanding problem solving and decision making skills, and develop code in modular way so that it can be reusable
                    </p>
                </div>
            </ion-card-content>
        </ion-card>

        <!--card 2-->
        <!-- <div> -->
        <ion-slides loop="true" pager autoplay="5000">
            <!--personal detail-->
            <ion-slide>
                <ion-card>
                    <ion-card-header class="card-header-2">
                        <ion-icon item-start name="contact"></ion-icon>
                        Personal Detail
                    </ion-card-header>
                    <ion-card-content class="card-slide">
                        <ion-list>
                            <ion-item>
                                <ion-icon item-start name="calendar"></ion-icon>
                                <p>Date of Birth</p>
                                <h2>{{info.dob}}</h2>
                            </ion-item>
                            <ion-item>
                                <ion-icon item-start name="card"></ion-icon>
                                <p>Natioanality</p>
                                <h2>{{info.nationality}}</h2>
                            </ion-item>
                            <ion-item>
                                <ion-icon item-start name="man"></ion-icon>
                                <p>Race</p>
                                <h2>{{info.race}}</h2>
                            </ion-item>
                            <ion-item>
                                <ion-icon item-start name="cloudy-night"></ion-icon>
                                <p>Religion</p>
                                <h2>{{info.religion}}</h2>
                            </ion-item>
                            <ion-item>
                                <ion-icon item-start name="stats"></ion-icon>
                                <p>Status</p>
                                <h2>{{info.status}}</h2>
                            </ion-item>
                            <ion-item>
                                <ion-icon item-start name="logo-android"></ion-icon>
                                <p>Language</p>
                                <h2>{{info.language}}</h2>
                            </ion-item>
                        </ion-list>
                    </ion-card-content>
                </ion-card>
            </ion-slide>
            <!--education Background-->
            <ion-slide>
                <ion-card>
                    <ion-card-header class="card-header-2">
                        <ion-icon item-start name="school"></ion-icon>
                        Education Background
                    </ion-card-header>
                    <ion-card-content text-wrap class="card-slide">
                        <ion-list>
                            <ion-item>
                                <ion-thumbnail item-start>
                                    <img src="assets/kles.png">
                                </ion-thumbnail>
                                <b>{{info.education.Bachelor.title}}</b>
                                <p>{{info.education.Bachelor.college}}</p>
                                <p>{{info.education.Bachelor.place}}</p>
                                <p>{{info.education.Bachelor.year}}</p>
                                <p>{{info.education.Bachelor.percentage}}</p>
                            </ion-item>
                            <ion-item>
                                <ion-thumbnail item-start>
                                    <img src="assets/gss.jpg">
                                </ion-thumbnail>
                                <b>{{info.education.puc.title}}</b>
                                <p>{{info.education.puc.college}}</p>
                                <p>{{info.education.puc.place}}</p>
                                <p>{{info.education.puc.year}}</p>
                                <p>{{info.education.puc.percentage}}</p>
                            </ion-item>
                            <ion-item>
                                <ion-thumbnail item-start>
                                    <img src="assets/smhs.jpg">
                                </ion-thumbnail>
                                <b>{{info.education.school.title}}</b>
                                <p>{{info.education.school.college}}</p>
                                <p>{{info.education.school.place}}</p>
                                <p>{{info.education.school.year}}</p>
                                <p>{{info.education.school.percentage}}</p>
                            </ion-item>
                        </ion-list>
                    </ion-card-content>
                </ion-card>
            </ion-slide>
            <!--knowledge-->
            <ion-slide>
                <ion-card>
                    <ion-card-header class="card-header-2">
                        <ion-icon item-start name="logo-android"></ion-icon> Knowledge
                    </ion-card-header>
                    <ion-card-content text-wrap class="card-slide">
                        <div class="slide-3">
                            <ion-chip>
                                <ion-icon item-start name="desktop"></ion-icon>
                                <ion-label class="chip-text">Computer Literacy</ion-label>
                            </ion-chip>
                        </div>
                        <p class="p-home bio">{{info.knowledge.computer}}</p>
                        <br>
                        <div class="slide-3">
                            <ion-chip>
                                <ion-icon item-start name="game-controller-b"></ion-icon>
                                <ion-label class="chip-text">Personal Traits</ion-label>
                            </ion-chip>
                        </div>
                        <p class="p-home bio">{{info.knowledge.personal}}</p>
                    </ion-card-content>
                </ion-card>
            </ion-slide>
            <!--interest-->
            <ion-slide>
                <ion-card>
                    <ion-card-header class="card-header-2">
                        <ion-icon item-start name="bicycle"></ion-icon> Interest
                    </ion-card-header>
                    <ion-card-content text-wrap class="card-slide">
                        <ion-list no-lines>
                            <p ion-item *ngFor="let info of info.interest">
                                <ion-icon item-start name="arrow-forward" color="primary"></ion-icon>
                                {{ info }}
                            </p>
                        </ion-list>
                    </ion-card-content>
                </ion-card>
            </ion-slide>
            <!--archievement-->
            <ion-slide>
                <ion-card>
                    <ion-card-header class="card-header-2">
                        <ion-icon item-start name="flame"></ion-icon> Achievement
                    </ion-card-header>
                    <ion-card-content text-wrap class="card-slide">
                        <ion-list no-lines>
                            <p ion-item *ngFor="let info of info.achievement">
                                <ion-icon item-start name="arrow-forward" color="primary"></ion-icon>
                                {{ info }}
                            </p>
                        </ion-list>
                    </ion-card-content>
                </ion-card>
            </ion-slide>
        </ion-slides>
        <!-- </div> -->
        <!--<ion-grid no-padding>
            <ion-row>
                <ion-col col-6 (click)="goSeminar()" tappable>
                    <ion-card text-center>
                        <ion-card-header>
                            <ion-icon name="git-network" class="icon-size"></ion-icon>
                        </ion-card-header>
                        <ion-card-content>
                            Workshop
                        </ion-card-content>
                    </ion-card>
                </ion-col>

                <ion-col col-6 (click)="goWork()" tappable>
                    <ion-card text-center>
                        <ion-card-header>
                            <ion-icon name="code-working" class="icon-size"></ion-icon>
                        </ion-card-header>
                        <ion-card-content>
                            Work Experience
                        </ion-card-content>
                    </ion-card>
                </ion-col>
            </ion-row>
        </ion-grid>-->


        <!--3rd row-->
        <!--<div class="btn-seminar">
        <button ion-button icon-left large block (click)="goSeminar()">  
            <ion-icon name="home"></ion-icon>Workshops Attended
        </button>
    </div>-->

        <!--4th row-->
        <!--<div class="btn-seminar">
        <button ion-button icon-left large block (click)="goWork()">  
            <ion-icon name="home"></ion-icon>Working Experience
        </button>
    </div>-->
    </div>
</ion-content>