<ion-header>

    <ion-navbar color="primary">
        <ion-title>Working Experience</ion-title>
    </ion-navbar>

</ion-header>


<ion-content class="bg-style">
    <ion-card *ngFor="let info of info.experience">
        <img src="{{info.img}}"/>
        <ion-card-content>
            <ion-card-title>
                {{info.company}}
            </ion-card-title>
            <ion-chip>
                <ion-icon item-start name="bowtie"></ion-icon>
                <ion-label>{{info.job}}</ion-label>
            </ion-chip>
            <!-- <ion-chip> -->

            <ion-label>
                <ion-icon item-start name="clock" color="twitter"></ion-icon> {{info.date}}
                <ion-icon item-start name="pin" color="gplus"></ion-icon> {{info.place}}
            </ion-label>
            <!-- </ion-chip> -->
            <!-- <ion-chip>
                <ion-label></ion-label>
            </ion-chip> -->
            <b></b>
            <p></p>
            <p></p>

            <ion-list no-lines>
                <p ion-item *ngFor="let info of info.responsibility" text-wrap>
                    <ion-icon item-start name="arrow-forward" color="primary"></ion-icon>
                    {{ info }}
                </p>
            </ion-list>

        </ion-card-content>
    </ion-card>

</ion-content>